@import "tailwindcss";

:root {
  --background: #ffffff;
  --white: #ffffff;
  --foreground: #171717;
  --black-light: rgba(0, 0, 0, 0.6);
  --gray: #f6f8fb;
  --gray-main: #605e5c;
  --dark-gray: #1a1a1a;
  --dim-gray: #5a5a5a;
  --cool-gray: #9a9a9a;
  --color-surface-light: #fdfdfd;
  --golden-yellow: #cda942;
  --teal-blue: #00516b;
}

@theme inline {
  /* --color-primary: var(--primary); */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: var(--font-montserrat);
  --color-gray-surface: var(--gray);
  --color-gray-main: var(--gray-main);
  --color-dark-gray: var(--dark-gray);
  --color-dim-gray: var(--dim-gray);
  --color-cool-gray: var(--cool-gray);
  --color-surface-light: var(--color-surface-light);
  --color-white: var(--white);
  --color-golden-yellow: var(--golden-yellow);
  --color-teal-blue: var(--teal-blue);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--black-light);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
